body {
    background-color: #ffffff;
}

.navbar {
    background-color: #0052cc;
}

.navbar-brand img {
    height: 50px;
}

.navbar-nav .nav-link {
    color: #ffffff;
}

.nav-tabs .nav-link.active {
    background-color: #0052cc;
    color: #ffffff;
}

.nav-tabs .nav-link {
    border: 1px solid #0052cc;
    color: #0052cc;
}
.action-icons i {
    margin-right: 10px;
}
.action-icons .fa-edit {
    color: #007bff;
}
.action-icons .fa-trash-alt {
    color: #dc3545;
}
.action-icons .fa-info-circle {
    color: #17a2b8;
}
/* registrasi  */

.form-control {
    border: 1px solid #000000;
}

.btn-primary {
    background-color: #0052cc;
    border: none;
}

/* data pasien */

.content {
    padding: 2rem;
}
.btn-group .btn {
    border-radius: 0;
}
.btn-group .btn.active {
    background-color: #0056b3;
    color: white;
}
.table th, .table td {
    vertical-align: middle;
}
.table th {
    background-color: #f8f9fa;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #e9ecef;
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: #f8f9fa;
}
.pagination {
    justify-content: flex-end;
}

/* tabel  */

/* Add spacing to the left and right of the table */
.table-container {
    padding-left: 15px; /* Adjust the value as needed */
    padding-right: 15px;
}

.table-container, 
#paginationContainer {
    padding-left: 15px; /* Adjust the value as needed */
    padding-right: 15px;
}

/* Alternatively, you could add margin to the table directly */
#dataPasienTable {
    margin-left: 15px; /* Adjust the value as needed */
    margin-right: 15px;
}


/* form 1 */
.form-section {
    margin-bottom: 20px;
}
.form-section h5 {
    font-weight: bold;
}
.form-section .form-group {
    margin-bottom: 15px;
}
.form-section .form-group label {
    font-weight: bold;
}
.form-section .form-group input,
.form-section .form-group textarea {
    border: 1px solid #000;
    border-radius: 5px;
}
.form-section .form-group textarea {
    resize: none;
}
.btn-primary {
    background-color: #0056b3;
    border: none;
}
.btn-primary:hover {
    background-color: #004494;
}

/* form 2 */
.form-label {
    font-weight: bold;
}
.form-check-label {
    font-weight: normal;
}